/*
Marco Quines
10138118
SENG 513
Assignment 1
B01
*/

/* Navigation */
.navigation{
    background-color: #1c0f13;
    color: #fff;
    font-size: 25px;
    font-family: futura;
    text-align: center;
    height: 100%;
    width: 250px;
    padding-left: 50px;
    padding-right: 50px;
    top: 0;
    left: 0;
    position: fixed;
}

.navigation a{
    padding: 8px 32px 8px 32px;
    color: fff;
    font-family: futura;
    font-size: 25px;
    display: block;
}

.navigation a:hover{
    background-color: #e7dfc6;
    color: #e39774;
}

.navigation a.active{
    color: #e39774;
}

/* BODY */
body{
    position: relative;
    margin-left: 350px;
    margin-top: 0;
    padding-top: 100px;
    padding-left: 50px;
    background-color: #e7dfc6;
    font-family: futura;
}

/* COVER HEADER */
.header{
    padding: 0;
    margin-top: -100px;
    margin-left: -50px;
    position: absolute;
    background-image: url(a5.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: futura;
    background-color: #fff 100%;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
}

.header h1{
    margin-top: 400px;
    vertical-align: middle;
}

/* GALLERY */

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
}

/* FOOTER */
.footer{
    position: fixed;
    text-align: center;
    font-family: futura;
    color: #fff;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
    background-color: #000;
}

/* TABLE */
table, th, td{
    border: 1px solid black;
    text-align: center;
    width: 500px;
}

/* SIDE IMGS */
.sideImg{
    position: absolute;
    top: 0;
    margin-left: 40%;
    background-color: #1c0f13;
    height: 100%;
    width: 60%;
    padding-left: 20px;
    color: #fff;
    padding-top: 100px;
}

.sideImg img{
    align-content: center;
    align-items: center;
    width: 80%;
}